*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/* AUDIO */
#backgroundMusic {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}


/* =========================
   ALL PAGES
   ========================= */

.page {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}


/* =========================
   PAGE 1
   ========================= */

.page1 {
    width: 100%;
    aspect-ratio: 9 / 16;

    background-image: url("images/background1.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.invitation-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.love-letter {
    position: absolute;
    top: 7%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
}

.couple {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.press-open {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
}


/* =========================
   PAGE 2
   ========================= */

.page2 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}

.new-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/* =========================
   PAGE 3
   ========================= */

.page3 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}

.image-25 {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/* =========================
   PAGE 4
   ========================= */

.page4 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}

.image-30-link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.image-30 {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/* =========================
   MOBILE
   ========================= */

@media (max-width: 600px) {

    .page,
    .page2,
    .page3,
    .page4 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .new-image,
    .image-25,
    .image-30 {
        width: 100%;
        height: auto;
        display: block;
    }

    .image-30-link {
        width: 100%;
        display: block;
    }
}