* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: white;
}


/* =========================
   PAGE 1 - MAIN IMAGE
   ========================= */

.main-page {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.main-link img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/* =========================
   PAGE 2
   ========================= */

.page2 {
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 1.png */

.page2 > img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.google-map {
    display: block;
    width: 100%;
    max-width: 500px;
    height: 350px;
    margin: 20px auto;
    border: 0;
}

/* =========================
   30.png - GOOGLE FORM
   ========================= */

.form-link {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 80% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
}

.form-link img {
    display: block !important;
    width: 60% !important;
    max-width: 60% !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0;
}